* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

div,
button {
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 50px;
  background-color: lightgrey;
}
